<!--
  ~ /**
  ~  * Created by Candra Ibra Sanie on 11/18/19 10:57 AM
  ~  * Copyright (c) 2019 . All rights reserved.
  ~  * Last modified 11/15/19 11:09 AM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.candraibra.catmovie2">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".testing.SingleFragmentActivity" />
    </application>

</manifest>